body{
    
    background-image: url('dct.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;  
    color:aliceblue; 
}

.container{
    background-color: rgba(0,0,0,0.3);
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 10px 10px rgba(0,0,0,0.3);
    width:80%;
    max-width: 450px;
    margin: 10px;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
}
.heading{
    font-size: 28px;
}
.input{
    height: 53px;
    width: 300px;
    background-color: rgba(0,0,0,0.6);
    border-color: rgba(255,255,255,0.4);
    font-size: 16px ;
    padding: 0 42px;
    border-radius: 5px;
    color: aliceblue;
}
.meaning{
    display: none;
}
